
*,
*::before,
*::after {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; 
  min-height: 100vh;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}


.navbar, .footer {
  width: 100%;
  background-color: #333; 
  padding: 1rem;
  color: white;
  text-align: center;
}


.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
  padding: 2rem;
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  border-color: #646cff;
  background-color: #333333;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
    border-color: #ccc;
  }
}
